In [1]:
# pip install finance-datareader
import FinanceDataReader as fdr

In [2]:
# population_15-19.csv 불러오기

import csv
import re

population = []
with open('population_15-19.csv', encoding="utf-8") as f:
    reader = csv.reader(f)
    next(reader)
    header = next(reader)
    
    for line in reader:
        population.append(line)
# 0 : 지역, 1 ~ 3 : 2015, 4 ~ 6 : 2016, 7 ~ 9 : 2017, 10 ~ 12 : 2018, 13 ~ 15 : 2019

In [11]:
# population[:5]

In [4]:
import pymysql

connection_info = { 'host': 'localhost', 'user': 'root', 'password': 'myb5370', 'db': 'projectwebdb', 'charset': 'utf8' }
        
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

sql = 'DELETE FROM population_past'
cursor.execute(sql)

sql = 'INSERT INTO population_past VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'
cursor.executemany(sql, population) # executemany : 여러 개의 데이터를 한 번에 일괄 삽입

conn.commit()

conn.close()

In [7]:
# population_15-19.csv 불러오기

import csv
import re

population67 = []
with open('population_15-67.csv', encoding="utf-8") as f:
    reader = csv.reader(f)
    next(reader)
    
    for line in reader:
        population67.append(line)

In [11]:
population67[:1]
# create table population_future (
# year int,
# total int,
# man int,
# woman int,
# total0_14 int,
# total15_64 int,
# total65_ int
# );

[['2067',
  '36891071',
  '18218830',
  '18672241',
  '2257600',
  '16361979',
  '18271492']]

In [12]:
import pymysql

connection_info = { 'host': 'localhost', 'user': 'root', 'password': 'myb5370', 'db': 'projectwebdb', 'charset': 'utf8' }
        
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

sql = 'DELETE FROM population_future'
cursor.execute(sql)

sql = 'INSERT INTO population_future VALUES(%s, %s, %s, %s, %s, %s, %s)'
cursor.executemany(sql, population67) # executemany : 여러 개의 데이터를 한 번에 일괄 삽입

conn.commit()

conn.close()

In [6]:
# surname.csv 불러오기

import csv
import re

surname = []
with open('surname.csv', encoding="utf-8") as f:
    reader = csv.reader(f)
    next(reader)
    
    for line in reader:
        surname.append(line)

In [7]:
surname[:5]
# create table surname2015 (
# name varchar(10),
# sur varchar(10),
# region varchar(10),
# total int
# );

[['가(賈)', '전국', '9936'],
 ['가(賈)', '서울특별시', '1606'],
 ['가(賈)', '부산광역시', '118'],
 ['가(賈)', '대구광역시', '46'],
 ['가(賈)', '인천광역시', '1349']]

In [8]:
hanja = ''

surname_db = []

for i in range(0, len(surname)):

    if str(surname[i][0]).find('(') != -1:
        hanja = surname[i][0]
        surname_db.append([hanja])
        surname_db[i].append('Null')
    else:
        surname_db.append([hanja])
        surname_db[i].append(surname[i][0])
    surname_db[i].append(surname[i][1])
    surname_db[i].append(surname[i][2])

In [9]:
surname_db[:20]

[['가(賈)', 'Null', '전국', '9936'],
 ['가(賈)', 'Null', '서울특별시', '1606'],
 ['가(賈)', 'Null', '부산광역시', '118'],
 ['가(賈)', 'Null', '대구광역시', '46'],
 ['가(賈)', 'Null', '인천광역시', '1349'],
 ['가(賈)', 'Null', '광주광역시', '21'],
 ['가(賈)', 'Null', '대전광역시', '463'],
 ['가(賈)', 'Null', '울산광역시', '50'],
 ['가(賈)', 'Null', '세종특별자치시', '26'],
 ['가(賈)', 'Null', '경기도', '2649'],
 ['가(賈)', 'Null', '강원도', '136'],
 ['가(賈)', 'Null', '충청북도', '164'],
 ['가(賈)', 'Null', '충청남도', '2951'],
 ['가(賈)', 'Null', '전라북도', '88'],
 ['가(賈)', 'Null', '전라남도', '48'],
 ['가(賈)', 'Null', '경상북도', '85'],
 ['가(賈)', 'Null', '경상남도', '108'],
 ['가(賈)', 'Null', '제주특별자치도', '28'],
 ['가(賈)', '소주', '전국', '8798'],
 ['가(賈)', '소주', '서울특별시', '1408']]

In [10]:
import pymysql

connection_info = { 'host': 'localhost', 'user': 'root', 'password': 'myb5370', 'db': 'projectwebdb', 'charset': 'utf8' }
        
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

sql = 'DELETE FROM surname2015'
cursor.execute(sql)

sql = 'INSERT INTO surname2015 VALUES(%s, %s, %s, %s)'
cursor.executemany(sql, surname_db) # executemany : 여러 개의 데이터를 한 번에 일괄 삽입

conn.commit()

conn.close()

In [47]:
# age-gender.csv 불러오기

import csv
import re

age_gender = []
with open('age_gender.csv', encoding="utf-8") as f:
    reader = csv.reader(f)
    next(reader)
    next(reader)
    
    for line in reader:
        age_gender.append(line)

In [48]:
age_gender[:10]
# create table age_gender (
# region varchar(10),
# age varchar(10),
# man int,
# woman int
# );

[['전국', '합계', '25952070', '25827133'],
 ['전국', '0~4세', '965211', '916337'],
 ['전국', '5~9세', '1168966', '1107651'],
 ['전국', '10~14세', '1152447', '1081568'],
 ['전국', '15~19세', '1371661', '1265680'],
 ['전국', '20~24세', '1806316', '1607340'],
 ['전국', '25~29세', '1938641', '1673864'],
 ['전국', '30~34세', '1745076', '1559603'],
 ['전국', '35~39세', '2070152', '1929592'],
 ['전국', '40~44세', '1974200', '1881203']]

In [49]:
import pymysql

connection_info = { 'host': 'localhost', 'user': 'root', 'password': 'myb5370', 'db': 'projectwebdb', 'charset': 'utf8' }
        
conn = pymysql.connect(**connection_info)
cursor = conn.cursor()

sql = 'DELETE FROM age_gender'
cursor.execute(sql)

sql = 'INSERT INTO age_gender VALUES(%s, %s, %s, %s)'
cursor.executemany(sql, age_gender) # executemany : 여러 개의 데이터를 한 번에 일괄 삽입

conn.commit()

conn.close()